@model FileObmen.Models.ViewModels.FilePasswordModel

@{
    ViewBag.Title = "Ввод пароля";
}

<div class="col-sm-10 col-sm-push-1">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h2>
                    <i class="fa fa-pencil"></i>Ввод пароля
                </h2>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("CheckPassword", "File", FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="input-group col-sm-12">
                            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    @Html.HiddenFor(model => model.FilePassword)

                    <input type="submit" value="Подтвердить" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
