<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/genius/style.min.css" rel="stylesheet">
    <link href="~/Content/genius/retina.min.css" rel="stylesheet">
    <link href="~/Content/genius/print.css" rel="stylesheet" media="print" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="content" class="col-sm-12 full">
                <div class="row">
                    <div class="login-box">
                        @RenderBody()
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/genius/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/genius/jquery.icheck.min.js"></script>
    <script src="~/Scripts/genius/custom.min.js"></script>
    <script src="~/Scripts/genius/core.min.js"></script>
    <script src="~/Scripts/genius/pages/login.js"></script>

</body>
</html>
